body {
    background-color:rgb(189, 28, 28, 0.7);
    background-image: url("bmwm4.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
body{
    color:aliceblue;
    text-decoration:solid ;
}
p {
    text-align: left;
    font-family: "Garamond",serif,monospace;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(109, 109, 109, 0.493);
}
h1,h2 {
    text-align: center;
    border-radius: 10px;padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer {
    text-align: center;
    font-size: larger;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
footer:hover{
    background-color: #0099ff7c;
    font-size: 24px;
    border-radius: 10px;padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
p:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}
h2:hover {
    background-color: rgb(27, 27, 27);
    background-image: -webkit-linear-gradient(
        145deg,
        #0099ff ,
        #032f70 ,
        #db0909 );
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
span{
    background-color: red;
    background-image: -webkit-linear-gradient(
        145deg, 
        #0099ff , 
        #032f70 ,
        #db0909 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}